<div class="foods">
  <div class="search-box">
    <input id="food-search" type="text" [(ngModel)]="pattern">
  </div>

<div class="new-food">
  <button (click)="enableUserToAddFood()" class="new-food-button">Add New Food </button>
  <br>
  <div *ngIf="isEditing">
    <div>
      <label for="new-food-name">Name</label>
      <input type="text" [(ngModel)]="newFoodName">
    </div>
    <div>
      <label for="new-food-calories">Calories</label>
      <input type="text" [(ngModel)]="newFoodCalories">
    </div>
    <div>
      <label for="new-food-image">Image</label>
      <input type="text" [(ngModel)]="newFoodImage">
    </div>
    <button (click)="newFood()"> Add food </button>
  </div>
<li class="single-food" *ngFor="let food of foods | foodSearch: 'name' :pattern;">
  <!-- Can do any way, first one is dynamic          | -->
  <!-- <img src="{{food.image}}"> -->
  <h3 class="food-name"></h3>
  {{ food.name }}
  <p class="food-calories">Calories: {{ food.calories }}</p>
  <img style="width:80px; height: auto" [src]="food.image">
</li>
